:root {
    --clr1: #392d28;
    --clr2: white;
    --clr3: #f4f4f4;
    --clr4: #dadada;
}

* {
    box-sizing: border-box;
    font-family: 'Arial Rounded MT Bold', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--clr1);
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--clr1);
}


navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    padding: 2px 5px;
    background-color: var(--clr2);
    position: fixed;
    top:0;
    z-index: 1;
}

navbar img {
    height: 7vh;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50em;
}

.menubutton {
    background-color: var(--clr2);
    padding: 10px;
    margin: 2px 5px;
    border-radius: 10px;
}

.menubutton:hover {
    font-weight: bold;
}


#part1 {
    height: 100vh;
    padding-top: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--clr3);
}

#img {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    row-gap: 2em;
}

.icons {
    display: flex;
    column-gap: 1em;
    align-items: center;
}

#part1 img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    box-shadow: 0 0 1px var(--clr1);
}

i {
    padding: 10px;
    background-color: var(--clr1);
    border-radius: 50%;
    box-shadow: 0 0 1px var(--clr1);
    color: var(--clr2);
}

#text {
    width: 60%;
    padding: 10px;
}

#text h1{
    text-align: center;
    font-size: 3.5em;
}

#text p {
    text-align: center;
    font-size: 1.5em;
}

.obj {
    margin: 3em auto;
    padding: 1em 3em;
    width: 70em;
    background-color: var(--clr3);
    border-radius: 50px;
    box-shadow: 0 0 1px var(--clr1);
}

#skills {
    height: 100vh;
    padding-top: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#topic {
    position: absolute;
    left: -170px;
    transform: rotate(-90deg);
    padding: 0;
}

#topic h1 {
    color: var(--clr4);
    font-size: 4.5em;
}

#div {
    width: 20%;
}

#info {
    width: 30%;
    padding: 1em;
    margin-right: 5em;
    font-size: 1.35em;
    border: 1px solid var(--clr4);
    border-radius: 20px;
}

#content {
    width: 50%;
    padding: 5em;
}

#content h1, #certifications h1 {
    font-size: 2.25em;
}

#bubbles {
    display: flex;
    flex-wrap: wrap;
}

.bubble {
    text-align: center;
    margin: 1em;
    padding: 1em;
    background-color: var(--clr3);
    border-radius: 5px;
    box-shadow: 0 0 1px var(--clr1);
}



#cover {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin-bottom: 2em;
    padding: 2em;
    background-color: var(--clr3);
}

#animate {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    width: 35%;
    height: 30em;
}

.step {
    background-color: var(--clr4);
    width: 9em;
}

.one {
    height: 1em;
    animation: first 3s ease-in-out infinite;
}

.two {
    height: 1em;
    animation: second 3s ease-in-out infinite;
}

.three {
    height: 1em;
    animation: third 3s ease-in-out infinite;
}

@keyframes first {
    0% {
        height: 1em;
    }
    100% {
        height: 9em;
    }
}

@keyframes second {
    0% {
        height: 1em;
    }
    100% {
        height: 18em;
    }
}

@keyframes third {
    0% {
        height: 1em;
    }
    100% {
        height: 27em;
    }
}

#certifications {
    border-radius: 15px;
    margin: 1em 5em 3em 5em;
    width: 600px;
    height: 75vh;
}

#certifications ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 550px;
    height: 70vh;
}

#certifications li {
    
    font-size: 1.25em;
    font-weight: bold;
    transform: scale(1,1);
    transition: transform 0.5s;
}

#certifications li:hover {
    transform: scale(1.04,1.04);
}